<hr/>
<div class="container">
  <div class="raw">
    <div class="col-8 centering">
      <h2>
        {{'Modal.Registration.Btn' | translate}}
      </h2>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text celLength">{{'Modal.Registration.Login' | translate}} :</span>
        </div>
        <input type="text" class="form-control" id="registration"
               placeholder="{{'Registration.Login' | translate}}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text celLength">{{'Modal.Registration.Password' | translate}} :</span>
        </div>
        <input type="password" class="form-control" id="password"
               placeholder="{{'Registration.Password' | translate}}">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary celLength curve">
            {{'Registration.Register' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
