<hr/>
<h2>
  {{'Persons.Title' | translate}}
  <a routerLink="/person/detail/new" class="btn btn-outline-secondary" style="float: right;">
    {{'Persons.NewPerson' | translate}}
  </a>
</h2>
<ul class="list-group">
  <li class="list-group-item list-group-item-light" *ngFor="let person of persons">
    <span class="badge">{{person.id}}&nbsp;:</span>&nbsp;&nbsp;
    <a routerLink="/person/detail/{{person.id}}">
      <img src="../../assets/images/persons/{{person.image}}" class="avatar-32" alt="{{person.screenName}}">
      <span class="screen-name">"{{person.screenName}}"</span>
      <span class="fio">{{person.firstName}}&nbsp;{{person.lastName}}</span>
      <app-roles [user]="person.user"></app-roles>
      <app-person-news-count [id]="person.id"></app-person-news-count>
      <app-comments-count [id]="person.id"></app-comments-count>
      <span class="enabled">{{person.user.enabled}}</span>
    </a>

  </li>
</ul>
