.news{
  padding: 0 1em;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  width: 4em;
  background-image: url("../../../assets/images/news_paper.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
