<div class="news-container">
  <div class="news-image">
    <a routerLink="{{url}}{{news.id}}">
      <img src="../../../assets/images/news/{{news.image}}" class="img-thumbnail">
    </a>
  </div>
  <div class="news-article">
    <a routerLink="{{url}}{{news.id}}">{{news.title}}</a>
  </div>
</div>
<div class="news-info">
  <app-news-likes [newsId]="news.id"></app-news-likes>
  <span class="views">{{news.views}}</span>
  <app-news-comments-count [newsId]="news.id"></app-news-comments-count>
</div>
