h2 span, h3 span {
  font-size: smaller;
  font-weight: lighter;
  color: #888888;
}

.delete {
  float: right;
}

.celLength {
  width: 10vw;
  overflow: hidden;
}

.mb-0, .mb-0 button {
  color: #888888;
}

.mb-0 button {
  padding-left: 0;
}

.mb-0 a, h3 a {
  color: #607D8B;
}

.mb-0 a:hover, h3 a:hover {
  color: #444444;
  text-decoration: none;
}

app-delete-modal {
  border-radius: 4px;
}
app-update-modal, app-save-modal{
  border-radius: 0 4px 4px 0;
}
.textarea-article{
  height: 200px;
}
.textarea-post {
  height: 500px;
}
.news-image{
  padding-bottom: 1em;
}
.card{
  margin: 1em 0;
}
.card-header{
  height: 38px;
  padding: 0 0 0 1em;
}
.avatar-32{
  margin-top: 3px;
}
.card-button{
  float: right;
  border-radius: 0 4px 0 0;
}
.card-body{
  border-color: inherit;
  border:1px;
}
app-select-img{
  width: inherit;
}
