<!-- Button trigger modal -->
<span class="btn btn-outline-secondary celLength curve" data-toggle="modal"
      data-target="#registrationModal" (click)="checkFields()">
  {{'Modal.Registration.Btn' | translate}}
</span>
<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <h2>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title color" id="exampleModalLabel">{{'Modal.Registration.Title' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 id="messageError">
            <span class="color" style="color: #5d2222;">
              {{'Modal.Registration.NotVerify' | translate}}
            </span>
          </h3>
          <div id="messageUser">
            <span class="color">{{'Modal.Registration.Person' | translate}}&nbsp;:</span>
            <span class="color" style="font-weight: bolder;">"{{person.screenName}}"&nbsp;</span>
            <img src="../../../assets/images/persons/{{person.image}}" class="avatar-64"><br/>
            {{person.firstName}}&nbsp;{{person.lastName}}<span class="color">?</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Modal.Close' | translate}}</button>
          <button id="submit" type="button" class="btn btn-light btn-outline-dark" (click)='eventExecute()' data-dismiss="modal">
            {{'Modal.Registration.Btn' | translate}}
          </button>
        </div>
      </div>
    </div>
  </h2>
</div>
