.like, .like-add{
  padding: 0 1em;
  display: inline-block;
  text-align: right;
  overflow: hidden;
  vertical-align: middle;
  width: 4em;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.like{
  background-image: url("../../../../assets/images/star_hollow.png");
}
.like:hover{
  background-image: url("../../../../assets/images/star.png");
  cursor: pointer;
}
.like-add{
  background-image: url("../../../../assets/images/star.png");
}
.like-add:hover{
  /*background-image: url("../../../../assets/images/star_hollow.png");*/
  cursor: pointer;
}
