h2 span, h3 span{
  font-size: smaller;
  font-weight: lighter;
  color:#888888;
}
.delete{
  float: right;
}
.celLength{
  width: 10vw;
  overflow: hidden;
}
.mb-0, .mb-0 button{
  color:#888888;
}
.mb-0 button{
  padding-left:0;
}
.mb-0 a, h3 a{
  color: #607D8B;
}
.mb-0 a:hover, h3 a:hover{
  color: #444444;
  text-decoration: none;
}
