<hr/>
<div *ngIf="person; else notFound">
  <h3 *ngIf="person.id==null">{{'Persons.Details.CreateNewPerson' | translate}}</h3>
  <h2>
    <span>{{'Persons.Details.Person' | translate}}&nbsp;:</span><br/>
    <span style="font-weight: bolder;">"{{person.screenName}}"&nbsp;</span>
    <img src="../../../assets/images/persons/{{person.image}}" class="avatar-64">&nbsp;
    {{person.firstName}}&nbsp;{{person.lastName}}&nbsp;
    <span>{{'Persons.Details.Details' | translate}}</span>
    <app-delete-modal *ngIf="person.id!=null" [name]="person.firstName +' ' + person.lastName"
                      (eventEmitter)="deletePerson()" class="delete">
    </app-delete-modal>
  </h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">id :</span>
    </div>
    <input type="text" class="form-control" id="id" [(ngModel)]="person.id" placeholder="id" disabled>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">{{'Persons.Details.ScreenName' | translate}} :</span>
    </div>
    <input type="text" class="form-control" id="screenName" [(ngModel)]="person.screenName"
           placeholder="{{'Persons.Details.ScreenName' | translate}}">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">{{'Persons.Details.Image' | translate}} :</span>
    </div>
    <input type="text" class="form-control" id="image" [(ngModel)]="person.image"
           placeholder="{{'Persons.Details.Image' | translate}}">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">{{'Persons.Details.FirstName' | translate}} :</span>
    </div>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="person.firstName"
           placeholder="{{'Persons.Details.FirstName' | translate}}">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">{{'Persons.Details.LastName' | translate}} :</span>
    </div>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName"
           placeholder="{{'Persons.Details.LastName' | translate}}">
    <div class="input-group-append">
      <app-update-modal *ngIf="person.id!=null" [name]="person.firstName +' ' + person.lastName"
                        (eventEmitter)="updatePerson()"></app-update-modal>
      <app-save-modal *ngIf="person.id==null" [name]="person.firstName +' ' + person.lastName"
                      (eventEmitter)="savePerson()"></app-save-modal>
    </div>
  </div>
  <hr/>
  <h3>
    <span style="font-weight: bolder">{{'User.Details.User' | translate}}</span>
    <span>{{'User.Details.Details' | translate}}</span>
  </h3>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">{{'User.Details.UserName' | translate}} :</span>
    </div>
    <input type="text" class="form-control" id="userName" [(ngModel)]="person.user.userName"
           placeholder="{{'User.Details.UserName' | translate}}">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text celLength">{{'User.Details.Password' | translate}} :</span>
    </div>
    <input type="password" class="form-control" id="password" [(ngModel)]="person.user.password"
           placeholder="{{'User.Details.Password' | translate}}">
    <div class="input-group-append">
      <app-update-modal *ngIf="person.user.id!=null" [name]="person.user.userName"
                        (eventEmitter)="updateUser()"></app-update-modal>
      <app-save-modal *ngIf="person.user.id==null" [name]="person.user.userName"
                      (eventEmitter)="saveUser()"></app-save-modal>
    </div>
  </div>
  <hr/>
  <h3>
    <span style="font-weight: bolder">{{'Roles.Roles' | translate}}:</span>
    <span>{{'Roles.Details' | translate}}</span>
  </h3>
  <h5 style="color: #495057;">
    <div class="form-check form-check-inline">
      <input *ngIf="roles.indexOf('USER')!== -1" class="form-check-input" type="checkbox" id="USER" value="USER" checked>
      <input *ngIf="roles.indexOf('USER')== -1" class="form-check-input" type="checkbox" id="USER" value="USER">
      <label class="form-check-label" for="USER">{{'Roles.User' | translate}}</label>
    </div>
    <div class="form-check form-check-inline">
      <input *ngIf="roles.indexOf('EDITOR')!== -1" class="form-check-input" type="checkbox" id="EDITOR" value="EDITOR" checked>
      <input *ngIf="roles.indexOf('EDITOR')== -1" class="form-check-input" type="checkbox" id="EDITOR" value="EDITOR">
      <label class="form-check-label" for="EDITOR">{{'Roles.Editor' | translate}}</label>
    </div>
    <div class="form-check form-check-inline">
      <input *ngIf="roles.indexOf('ADMIN')!== -1" class="form-check-input" type="checkbox" id="ADMIN" value="ADMIN" checked>
      <input *ngIf="roles.indexOf('ADMIN')== -1" class="form-check-input" type="checkbox" id="ADMIN" value="ADMIN">
      <label class="form-check-label" for="ADMIN">{{'Roles.Admin' | translate}}</label>
    </div>
  </h5>

  <!--div newsId="accordion">
    <div class="card">
      <div class="card-header" newsId="headingOne">
        <h5 class="mb-0">
          <span>{{'Passports.Details.Passport' | translate}}&nbsp;:</span>
          <a href="passports/detail/{{person.passport.passportId}}">{{person.passport.passportNumber}}</a>
          &nbsp;<span *ngIf="person.passport.passportId==null">{{'Passports.Details.Details' | translate}}</span>
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePassport" aria-expanded="true"
                  aria-controls="collapseOne">
            {{'Persons.Details.Details' | translate}}
          </button>
        </h5>
      </div>

      <div newsId="collapsePassport" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <app-passport-detail></app-passport-detail>
        </div>
      </div>
    </div>
  </div-->
  <hr/>
</div>

<ng-template #notFound>
  <h2>{{'Persons.NotFound' | translate}}</h2>
</ng-template>
<button class="btn btn-outline-secondary celLength" type="button" (click)="goBack()">
  {{'Persons.Details.BtnBack' | translate}}
</button>
<br/>
