<hr/>
<ul class="list-group">
  <li class="list-group-item list-group-item-light">
    <span class="badge">1&nbsp;:</span>
    <a routerLink="/person/detail/1">
      <img src="../../assets/images/persons/hamster.png" class="avatar-32" alt="">
      <span class="screen-name">"hamster"</span>
      <span class="fio">Huha Huhavich</span>
      <!--app-roles></app-roles-->
      <span class="news">2</span>
      <span class="comments">8</span>
      <span class="enabled">enabled</span>
    </a>
  </li>
</ul>
